<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"/>
</head>
<body>
    <header class="encabezado">
        <!-- ENCABEZADO -->

        <img class="encabezado-logo" src="images/logo-mercado-liebre.svg" alt="logo mercadoliebre" />

        <div class="encabezado-contenedor-input">
            <input class="header__search" type="search" placeholder="   Buscar productos  " /><i
                class="searchIcon fas fa-search"
            ></i>
        </div>

        <p class="encabezado-descripcion">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito
        </p>

        <!-- BARRA DE NAVEGACION -->

        <ul class="encabezado-barra-nav">
            <div class="encabezado-barra-nav1">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </div>
            <div class="encabezado-barra-nav2">
                <li>
                    <a href="registro.html">Crea tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="login.html">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </div>
        </ul>

        <div class="encabezado-boton-container">
            <i class="encabezado-menu fas fa-bars"></i>
        </div>
    </header>

    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Cobra con todas las tarjetas" />
    </section>

    <!-- PRODUCTOS -->

    <h2 class="main-titulo">Basado en tu ultima visita</h2>
    <main class="main">
        <section class="lastvisited">
            <article class="main-producto">
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" />
                <div class="main__containerProduct">
                    <div class="main__icon"><i class="fas fa-truck"></i></div>
                    <p>$6.770</p>
                    <p class="product__discount">40% off</p>
                    <h4 class="main-producto-descrip">Cafetera Moulinex</h4>
                </div>
            </article>

            <article class="main-producto">
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook pro" />
                <div class="main__containerProduct">
                    <div class="main__icon"><i class="fas fa-truck"></i></div>

                    <p>$230.000</p>
                    <p class="product__discount">20% off</p>

                    <h4 class="main-producto-descrip">Macbook Pro 2019</h4>
                </div>
            </article>

            <article class="main-producto">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" />
                <div class="main__containerProduct">
                    <div class="main__icon"><i class="fas fa-truck"></i></div>

                    <p>$70.500</p>
                    <p class="product__discount">15% off</p>

                    <h4 class="main-producto-descrip">Teléfono móvil Samsung Galaxy S10</h4>
                </div>
            </article>

            <article class="main-producto">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" />
                <div class="main__containerProduct">
                    <div class="main__icon"><i class="fas fa-truck"></i></div>

                    <p>$70.500</p>
                    <p class="product__discount">15% off</p>

                    <h4 class="main-producto-descrip">Teléfono móvil Samsung Galaxy S10</h4>
                </div>
            </article>
        </section>
        <section class="offers">
            <h2 class="main-titulo">Ofertas</h2>

            <article class="main-producto">
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" />
                <div class="main__containerProduct">
                    <i class="main__icon fas fa-truck"></i>
                    <p>$6.770</p>
                    <p class="product__discount">40% off</p>
                    <h4 class="main-producto-descrip">Cafetera Moulinex Dolce Gusto</h4>
                </div>
            </article>

            <article class="main-producto">
                <img src="images/img-tv-samsung-smart.jpg" alt="tv smart samsung" />
                <div class="main__containerProduct">
                    <i class="main__icon fas fa-truck"></i>

                    <p>$34.000</p>
                    <p class="product__discount">5% off</p>

                    <h4 class="main-producto-descrip">SmartTv Samsung 43"</h4>
                </div>
            </article>
            <article class="main-producto">
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" />
                <div class="main__containerProduct">
                    <i class="main__icon fas fa-truck"></i>
                    <p>$6.770</p>
                    <p class="product__discount">40% off</p>
                    <h4 class="main-producto-descrip">Cafetera Moulinex Dolce Gusto</h4>
                </div>
            </article>

            <article class="main-producto">
                <img src="images/img-tv-samsung-smart.jpg" alt="tv smart samsung" />
                <div class="main__containerProduct">
                    <i class="main__icon fas fa-truck"></i>

                    <p>$34.000</p>
                    <p class="product__discount">5% off</p>

                    <h4 class="main-producto-descrip">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>

    <!-- PIE DE PAGINA -->

    <footer class="footer">
        <article class="footer-item">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre
                es seguro!
            </p>
        </article>
        <article class="footer-item">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde los $ 2.500</h4>
            <p>
                Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un
                beneficio de MercadoPuntos.
            </p>
        </article>

        <article class="footer-item">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                protegid@.
            </p>
        </article>

        <div class="footer-copyright">
            <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
    
</body>
</html>