<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"/>
</head>
<body>
    <header class="encabezado">
    

        <img class='encabezado-logo 'src="/images/logo-mercado-liebre.svg" alt="logo mercadoliebre" />

        <div class="encabezado-contenedor-input"><input class="encabezado-search" type="search" placeholder="Buscar productos, marcas y más "><i class="searchIcon fas fa-search"></i></div>
 
        <p class="encabezado-descripcion"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>

      

        <ul class="encabezado-barra-nav">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            <li>
                <a href="registro.html">Crea tu cuenta <i class="far fa-id-card"></i></a>
            </li>
            <li>
                <a href="login.html">Ingresa <i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li>
                <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
            </li>
        </ul>

        <div class="encabezado-boton-container"> 

            <i  class=" encabezado-menu fas fa-bars"></i>
        </div>

    </header>

    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Cobra con todas las tarjetas"  />
    </section>

    


    <main class="main">
        <section class="lastvisited">
            <h2 class="main-titulo">Basado en tu ultima visita</h2>

            <article class="main-producto">

                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" />
             |  <div class="main-contenedor-producto">
                    <div class="main-icono"><i class="fas fa-truck"></i></div>
        
                         <div class="main-contenedor-producto-precio-porcent">
                             <div class="main-contenedor-producto-precio">$6.770</div>
                             <div class="producto-descuento">40% off</div>
                        </div>
                         
                    <h4>Cafetera Moulinex  </h4>
                </div>
            </article>

            <article class="main-producto">
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook pro" />
                <div class="main-contenedor-producto">
                    <div class="main-icono"><i class="fas fa-truck"></i></div>
                    
                    <div class="main-contenedor-producto-precio-porcent">
                        <div class="main-contenedor-producto-precio">230.000</div>
                        <div class="producto-descuento">20% off</div>
                   </div>

                    <h4>Macbook Pro 2019  </h4>
                </div>
            </article>

            <article class="main-producto">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" />
                <div class="main-contenedor-producto">
                    <div class="main-icono"><i class="fas fa-truck"></i></div>

                    <div class="main-contenedor-producto-precio-porcent">
                        <div class="main-contenedor-producto-precio">$70.500</div>
                        <div class="producto-descuento">15% off</div>
                   </div>

                    <h4>Teléfono móvil Samsung Galaxy S10  </h4>
                </div>
            </article>
        </section>

        <section class="offers">
            <h2 class="main-titulo">Ofertas</h2>

            <article class="main-producto">
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" />
                <div class="main-contenedor-producto">
                     <i class="main-icono fas fa-truck"></i>

                    <div class="main-contenedor-producto-precio-porcent">
                        <div class="main-contenedor-producto-precio">$6.770</div>
                        <div class="producto-descuento">40% off</div>
                   </div>

                    <h4>Cafetera Moulinex Dolce Gusto  </h4>
                </div>
            </article>

            <article class="main-producto">
                <img src="images/img-tv-samsung-smart.jpg" alt="tv smart samsung" />
            <div class="main-contenedor-producto">
                     <i class="main__icono fas fa-truck"></i> 

                     <div class="main-contenedor-producto-precio-porcent">
                        <div class="main-contenedor-producto-precio">$34.000</div>
                        <div class="producto-descuento">5% off</div>
                   </div>

                    <h4>SmartTv Samsung 43" </h4>
            </div>
            </article>
        </section>
    </main>

   


    <footer class="footer">
        <article class="footer-item">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre
                es seguro!
            </p>
        </article>
        <article class="footer-item">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde los $ 2.500</h4>
            <p>
                Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un
                beneficio de MercadoPuntos.
            </p>
        </article>

        <article class="footer-item">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                protegid@.
            </p>
        </article>

        <div class="footer-copyright">
            <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
    
</body>
</html>