<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="css/styles.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
  <main>
    <header class="encabezado">
    

        <img class='encabezado-logo 'src="/images/logo-mercado-liebre.svg" alt="logo mercadoliebre" />

        <div class="encabezado-contenedor-input"><input class="encabezado-search" type="search" placeholder="Buscar productos, marcas y más "><i class="searchIcon fas fa-search"></i></div>
 
        <p class="encabezado-descripcion"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>

      

        <ul class="encabezado-barra-nav">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            <li>
                <a href="registro.html">Crea tu cuenta <i class="far fa-id-card"></i></a>
            </li>
            <li>
                <a href="login.html">Ingresa <i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li>
                <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
            </li>
        </ul>

        <div class="encabezado-boton-container"> 

            <i  class=" encabezado-menu fas fa-bars"></i>
        </div>

    </header>
  
    <main class="registroMain">

    <div>
        <form action="/" method="POST">

    <label for="nombre"></label> 
    	<input class="inputRegistro" type="text" id="nombre" name="nombreApellido" placeholder="Nombre y Apellido"> 
       <br>
    <label for="nombreUsuario"></label> 
    	<input class="inputRegistro" type="text" id="nombreUsuario" name="user" placeholder="Nombre de Usuario"> 
      <br>
    <label for="email"></label> 
    	<input class="inputRegistro" type="email" id="email" name="email" placeholder="Email"> 
      <br>
    
      <label for="fecha"><strong> Fecha de nacimiento</strong></label> <br>
      <input class="inputRegistro" type="date" id="fecha" name="fecha" value= "2002-01-01" min= "2002-01-01" max="2099-01-01" placeholder="DD-MM-AAAA"><br>
   

    <label for="domicilio"></label> 
    	<input class="inputRegistro" type="text" id="domicilio" name="domicilio" placeholder="Domicilio"> 
     <br>

     <h3>Perfil de usuario</h3>

     <div class="registro-Main-contenedor">
        <div class="registro-Main-contenedor-usuario" ><input    type="radio" value="buyer" name="userProfile" id="userProfile" /><label>Comprador</label></div>
    <div class="registro-Main-contenedor-usuario">	<input    type="radio" value="seller" name="userProfile" id="userProfile" / checked><label>Vendedor</labe></div>
    </div>

    <h3>Intereses</h3>

    <section class="preferencias-usuario">
        <div><input    type="checkbox" value="electro" name="preferences" id="" /><label>Electro</label></div><br>
        <div><input    type="checkbox" value="moda" name="preferences" id="" /><label>Moda</label></div><br>
        <div><input    type="checkbox" value="hogar" name="preferences" id="" /><label>Hogar</label></div><br>
        <div><input    type="checkbox" value="jugueteria" name="preferences" id="" /><label>Jugueteria</label></div><br>
        <div><input    type="checkbox" value="vidasana" name="preferences" id="" /><label>Vida Sana</label></div><br>
    </section>

    <label class="labelRegistro" for="pic"><strong>Elige tu foto de usuario</strong></label><br>

    <input type="file" id="file" name="file" accept="image/png, image/jpeg"><br><br>


    <label  class="inputRegistro" for="password"><strong>Contraseña:</strong></label><br>
    <input class="inputRegistro" type="password" id="password" name="password" placeholder="Elegí tu contraseña"><br>

    <label for="repeat-password"><strong>Confirmar contraseña:</strong></label><br>
    <input class="inputRegistro" type="password" id="repeat-password" name="repeat-password" placeholder="Confirma tu contraseña"><br>
    
    
    <button class="botonIngreso" type="submit">Enviar</button>
    <button class="botonReset" type="submit">Borrar</button>

     </form>
   </div>

    </main>
   
   <footer class="footer">
    <article class="footer-item">
        <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
            Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre
            es seguro!
        </p>
    </article>
    <article class="footer-item">
        <i class="fas fa-gift"></i>
        <h4>Envío gratis desde los $ 2.500</h4>
        <p>
            Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un
            beneficio de MercadoPuntos.
        </p>
    </article>

    <article class="footer-item">
        <i class="fas fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
            protegid@.
        </p>
    </article>

    <div class="footer-copyright">
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
</footer>


  </main>   

</body>
</html>