<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="css/styles.css"> 
</head>
<body>
    <div>
        <img src="images/logo-mercado-liebre.svg" alt="logo">
    </div>
    <div>
        <form action="/" method="POST">

    <label for="nombre"></label> 
    	<input type="text" id="nombre" name="nombreApellido" placeholder="Nombre y Apellido"> 
       <br>
    <label for="nombreUsuario"></label> 
    	<input type="text" id="nombreUsuario" name="user" placeholder="Nombre de Usuario"> 
      <br>
    <label for="email"></label> 
    	<input type="email" id="email" name="email" placeholder="Email"> 
      <br>
    
      <label for="fecha">Fecha de nacimiento</label> <br>
      <input type="date" id="fecha" name="fecha" value= "2002-01-01" min= "2002-01-01" max="2099-01-01" placeholder="DD-MM-AAAA"><br>
   

    <label for="domicilio"></label> 
    	<input type="text" id="domicilio" name="domicilio" placeholder="Domicilio"> 
     <br>

    <label for="">Perfil de Usuario</label><br>
    <input type="radio" name="perfil" value="c" checked> Comprador 
    <input type="radio" name="perfil" value="v" > Vendedor

    <label for="">Intereses</label>
    <input type="checkbox" name="intereses" value="Electro" > Electro 
    <input type="checkbox" name="intereses" value="Moda" > Moda 
    <input type="checkbox" name="intereses" value="Hogar" > Hogar 
    <input type="checkbox" name="intereses" value="Juguetes" > Juguetería 
    <input type="checkbox" name="intereses" value="Vida" > Vida Sana <br><br>

    <input type="file" id="file" name="file" accept="image/png, image/jpeg"><br>


    <label for="password">Contraseña:</label><br>
    <input type="password" id="password" name="password" placeholder="Elegí tu contraseña"><br>

    <label for="repeat-password">Confirmar contraseña:</label><br>
    <input type="password" id="repeat-password" name="repeat-password" placeholder="Confirma tu contraseña"><br>
    
    
    <button type="submit">Enviar</button>
    <button type="submit">Borrar</button>

    </form>
</div>

    

</body>
</html>