<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <div>
        <img src="logo-mercado-liebre.svg" alt="logo">
    </div>
    <div>
        <form action="index.html" method="POST">

    <p> <label for="nombre"></label> 
    	<input type="text" id="nombre" name="nombreApellido" placeholder="nombre y apellido"> 
      </p> <br>
    <p> <label for="nombreUsuario"></label> 
    	<input type="text" id="nombreUsuario" name="user" placeholder="Nombre de Usuario"> 
      </p> <br>
    <p> <label for="email"></label> 
    	<input type="email" id="email" name="email" placeholder="Email"> 
      </p> <br>
    
     <p> <label for="fecha">Fecha de nacimiento</label> <br>
      <input type="date" id="fecha" name="fecha" value= "2002-01-01" min= "2002-01-01" max="2099-01-01" placeholder="DD-MM-AAAA">
    </p>

    <p> <label for="domicilio"></label> 
    	<input type="text" id="domicilio" name="domicilio" placeholder="Domicilio"> 
      </p> <br>

    <label for="">Perfil de Usuario</label><br>
    <input type="radio" name="perfil" value="c" checked> Comprador 
    <input type="radio" name="perfil" value="v" > Vendedor

    <p><label for="">Intereses</label></p>
    <input type="checkbox" name="intereses" value="Electro" > Electro 
    <input type="checkbox" name="intereses" value="Moda" > Moda 
    <input type="checkbox" name="intereses" value="Hogar" > Hogar 
    <input type="checkbox" name="intereses" value="Juguetes" > Juguetería 
    <input type="checkbox" name="intereses" value="Vida" > Vida Sana <br><br>

    <input type="file" id="file" name="file" accept="image/png, image/jpeg">


    <p> <label for="password"></label> 
    	<input type="text" id="password" name="password" placeholder="Elegí tu contraseña"> 
      </p> 
    <p> <label for="Cpassword"></label> 
    	<input type="text" id="Cpassword" name="Cpassword" placeholder="Confirmá tu contraseña"> 
      </p> <br>
    
    <button type="submit">Enviar</button>
    <button type="submit">Borrar</button>

    </form>
</div>

    

</body>
</html>