/* Globales */


* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #ebebeb;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}

i {
	color: #03264c;
}


/* Encabezado */

.encabezado {
	background-color: #eac926;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/**/padding-top: 18px;
}

.encabezado-logo {
	width: 42%;

}

.header__search {
	width: 50%;
	padding: 8px;
	border-radius: 5px;
	border: solid white;
}

.encabezado-barra-nav {
	display: none;
}

.encabezado-descripcion{
	flex-basis: 100%;
	text-align: center;
	font-size: small;
	margin-top: 15px;
}

.encabezado-boton-container {
	text-align: center;
	 
}
.encabezado-menu {
	width: 40px;
	height: 40px;
	background-color: #0044aa;
	color: white;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	display: block;
	margin: 20px auto;
}

.header-menu:hover {
	background-color: #0022aa;
	cursor: pointer;
}

.encabezado-contenedor-input {
	position: relative;
	left: 6px;
}

.searchIcon {
	color: #353232;
	opacity: 0.5;
	font-size: 15px;
	position: absolute;
	right: 5px;
	top: 12px;
}

.banner {
	width: 100%;
	display: block;
}

.main-titulo {
	margin: 20px auto;
	width: 90%;
	text-align: center;
}

/* Archivo de login */

.login {
	margin: 20px;
}

.inputIngreso,
.inputRegistro {
	padding: 10px;

	border: 0;

	width: 100%;

	margin: 20px 0;

	box-sizing: border-box;

	border-radius: 5px;
}

.botonIngreso,
.botonReset {
	box-sizing: border-box;
	color: white;
	width: 100%;
	background-color: #0044aa;
	padding: 8px;
	border-radius: 5px;
	margin: 30px 0;
}

.botonIngreso:hover {
	background-color: #0022aa;
}


/* Ingreso de búsqueda */


.header__search {
	display: block;
	width: 100%;
}

.header__searchContainer {
	position: relative;
	width: 50%;
}

.searchicon {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 15px;
	opacity: 0.8;
	margin: 1px;
}



/* Archivo de Registro -- hay clases compartidas con login */

.registroMain {
	margin: 20px;
}

.registro-Main-contenedor {
	display: flex;

	margin: 20px 0;
}

.registro-Main-contenedor-usuario {
	margin-left: 20px;
}

input[type='radio'] {
	margin-right: 10px;
}

.preferencias-usuario {
	margin: 10px 0 10px 20px;

	display: flex;
	flex-direction: column;
}

.preferencias-usuario > div {
	margin: 10px 0;
}
.preferencias-usuario > div > label {
	margin-left: 10px;
}

.registrer__clear {
	color: white;
	background-color: #aa0044;
	width: 100%;
	margin: 30px 0;
	padding: 8px;
	box-sizing: border-box;
	border-radius: 5px;
}

.registrer__clear:hover {
	background-color: #cc1155;
}


/* footer */


.footer {
	padding: 20px 5%;
	background-color: white;
}

.footer-item {
	margin: 20px 0;
	display: flex;

	flex-direction: column;
	align-items: center;
}

.footer-item > h4,
.footer-item > p {
	text-align: center;
}

.footer-item > i {
	font-size: 27px;
	color: rgb(52, 40, 122);
	margin-bottom: 1rem;
}



/* estilos del main */

.main-producto {
	background-color: white;
	margin: 10px 20px;
	cursor: pointer;
}

.main__containerProduct {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #ebebeb;
	padding: 1rem;
	position: relative;
}

.fa-truck {
	color: #e28941;
}

.main__icon {
	position: absolute;
	top: 0;
	right: 10px;
	transform: translateY(-50%);
	border-radius: 50%;
	border: 1px solid #ebebeb;

	padding: 2px;
	background-color: white;
}
.main__containerProduct > p {
	padding: 0.5rem;
}

.main__containerProduct > h4 {
	width: 100%;
	padding: 0.5rem;
}

.product__discount {
	color: #e28941;
	font-size: 15px;
	vertical-align: middle;
}

hr {
	border: none;
	height: 50px;
	background-color: #ebebeb;
}

img {
	width: 100%;
}

h4 {
	color: #666;
	font-size: 12px;
	text-transform: uppercase;
}

h2 {
	font-size: 24px;
	color: #666;
}
.footer {
	font-size: 12px;
	color: #666;
}


/* estilos de formulario */


.registro > h3 {
	font-size: 16px;
}


/* Zona Responsive */

@media (min-width: 768px) {
	.encabezado {
		justify-content: space-around;
		align-items: center;
	}
	.encabezado-contenedor-input {
		width: 30%;
	}
	.header__search {
		padding: 8px;
		border-radius: 5px;
		border: 0;
		outline: 0;
	}
	.searchIcon {
		top: 50%;
		transform: translateY(-50%);
	}
	.encabezado-logo {
		width: 25%;
	}
	.encabezado-descripcion {
		flex-basis: auto;
		font-size: 14px;
	}

	.encabezado-barra-nav {
		display: flex;
		width: 100%;
		padding: 1rem;
		font-size: 14px;
		justify-content: space-between;
	}
	.encabezado-barra-nav1 , .encabezado-barra-nav2{
		display: flex;
	}
	.encabezado-barra-nav1 > li ,.encabezado-barra-nav2 > li{
		padding:  0 10px;
	}

	.encabezado-barra-nav1 > li > a , .encabezado-barra-nav2 > li > a {
		color: black;
	}
	.encabezado-boton-container {
		display: none;
	}

	/* main */

	.lastvisited,
	.offers {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.main-titulo {
		text-align: start;
	}
	.main-producto {
		flex-basis: 40%;
	}
}


@media (min-width: 960px) {
	.lastvisited,
	.offers {
		 
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 470px;
		align-items: flex-start;
	}
	.main-producto {
		flex-basis: 20%;
	}

	.main-producto:hover {
		box-shadow: 0px 0px 10px rgb(100, 100, 100);
	}

	.main-producto-descrip {
		display: none;
	}

	.main-producto:hover .main-producto-descrip {
		display: initial;
	}

	.main__icon {
		transition: 0.3s linear;
		transform-origin: -50%;
	}
	.main-producto:hover .main__icon {
		transform: rotate(-30deg);
	}

	/* footer */

	.footer {
		margin-top: 100px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer-item {
		flex-basis: 30%;
		padding: 1rem;
	}
	.footer-copyright {
		width: 100%;
	}
}


