label {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #03264C;
    
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #666;

}
